﻿@model IEnumerable<Taxi.Models.Request>

@{
    ViewBag.Title = "Заказы";
}

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InAddr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OutAddr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Status.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InAddr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OutAddr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dt)
        </td>
    </tr>
}

</table>
