﻿@model IEnumerable<Taxi.Models.Request>

@{
        Layout = "~/Views/Shared/_LayoutManager.cshtml";    
        ViewBag.Title = "Заказы";
}

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InAddr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OutAddr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Status.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InAddr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OutAddr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
        </td>
        <td>
            @Html.ActionLink("Назначить", "Edit", new { id = item.Id })
            @Html.ActionLink("Отмена", "CanselRequest", new { id = item.Id })            
        </td>
    </tr>
}

</table>
